:host {
  width: fit-content;
  height: fit-content;
  transition: all 0.3s ease-in-out;
}

.container {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-rows: auto 1fr 10px;
  padding-bottom: 0.5rem;
  margin: 0rem 1rem 1rem;
  cursor: move;
  resize: both;
  max-width: 95vw;
  max-height: 95vh;
  overflow: hidden;
}

.close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.full {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.no-preview {
  color: #666;
}
