:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.conversion {
  width: 50%;
  height: 50%;
}

@media (max-width: 1023px) {
  .conversion {
    width: 100%;
    height: 100%;
  }
}
