@if (imageSrc) {
<img [src]="imageSrc()" alt="document" class="image" />
<!-- Overlay inputs -->
@for (fg of fieldsFormArray().controls; let i = $index; track i) {

<div
  class="overlay"
  [style.left.px]="fg.value?.coords[0]"
  [style.top.px]="fg.value?.coords[1]"
>
  <mat-form-field appearance="fill" class="overlay-field">
    <mat-label>Значение</mat-label>
    <input
      matInput
      [formControl]="fg.controls.strValue"
      placeholder="{{ fg.controls.strValue?.value }}"
    />
  </mat-form-field>
</div>
} }
