@let imgData = data(); @if (imgData?.value && previewImg) {
<img
  [src]="previewImg()"
  [width]="imgData.getRawValue().size[0]"
  [height]="imgData.getRawValue().size[1]"
  [alt]="imgData.getRawValue().documentTitle"
  class="image"
/>
@for (fg of imgData.controls.fields.controls; let i = $index; track i) {
<div
  class="overlay"
  [style.left.px]="fg.value?.coords[0]"
  [style.top.px]="fg.value?.coords[1]"
>
  <input
    class="overlay-input"
    cdkOverlayOrigin
    [formControl]="fg.controls.strValue"
    [style.width.px]="fg.getRawValue().width || 100"
    [style.height.px]="fg.getRawValue().height || 50"
    placeholder="{{ fg.controls.strValue?.value }}"
    (contextmenu)="overlayHandler.click(); $event.preventDefault()"
    matTooltip="Нажмите правой кнопкой мыши, чтобы передвинуть/скрыть/удалить поле"
  />
  <div class="overlay-handler" #overlayHandler [matMenuTriggerFor]="menu"></div>
</div>

} } @else {
<div>Не удалось загрузить документ</div>
}

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>visibility_off</mat-icon>
    <span>Скрыть поле</span>
  </button>
  <button mat-menu-item>
    <mat-icon>swipe</mat-icon>
    <span>Переместить поле</span>
  </button>
  <button mat-menu-item class="warn">
    <mat-icon class="warn">delete</mat-icon>
    <span class="warn">Удалить</span>
  </button>
</mat-menu>
